@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.homepage {
  width: 90%;
  height: 100vh;
  margin: auto;
  font-family: "Gugi", cursive;
}

.homepage h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.avatarstyle img {
  width: 200px;
  height: 200px;
}
